.main-nav {
  width: 100%;
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    width: 100%;    
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #bfbfc1;

    &.is-active {
      border-bottom: 3px solid #39ce8e;
      color: #39ce8e;
    }
  }

  &__toggle {
    display: none;
  }
}
